<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="Main">
		<section name="userSettings" type="InfiniteRuntimeTagViewer.UserSettings "/>
		</sectionGroup>
	</configSections>
	<Main>
		<userSettings>
			<InfiniteRuntimeTagViewer.Properties.Settings>
				<setting name="AutoHook" serializeAs="String">
					<value>true</value>
				</setting>
				<setting name="AutoLoad" serializeAs="String">
					<value>false</value>
				</setting>
				<setting name="AutoPoke" serializeAs="String">
					<value>false</value>
				</setting>
				<setting name="FilterOnlyMapped" serializeAs="String">
					<value>true</value>
				</setting>
				<setting name="AlwaysOnTop" serializeAs="String">
					<value>false</value>
				</setting>
				<setting name="Opacity" serializeAs="String">
					<value>false</value>
				</setting>
				<setting name="ProcAsyncBaseAddr" serializeAs="String">
					<value>undefined</value>
				</setting>
			</InfiniteRuntimeTagViewer.Properties.Settings>
		</userSettings>
	</Main>
</configuration>